<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="container p-6 mx-auto grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        <% users.forEach(user=>{ %>
            <div class="profile justify-center transition duration-300 hover:shadow-xl cursor-pointer text-center rounded-3xl items-center h-64 bg-blue-300 p-8 flex flex-col">
                <img class="w-16 h-16 rounded-full" src="<%= user.picture.medium%>" alt="">
                <h3 class="text-xl"><%= user.name.first%> <%= user.name.last%></h3>
                <h4>Email : <%= user.email%></h4>
                <h4>Phone : <%= user.phone%></h4>
                <h4>Age : <%= user.dob.age%></h4>
                <a class="text-green-200 transform hover:scale-110 motion-reduce:transform-none " href="/<%= user.login.uuid %>">MORE</a>
            </div>
        <%})%>
    </div>
    <div>  
    </div>
    <script src="/js/script.js"></script>
</body>
</html>