<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    
</head>
<body>
    <div class="container p-6 mx-auto grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        <div class="profile justify-center transition duration-300 hover:shadow-xl cursor-pointer text-center rounded-3xl items-center h-64 bg-blue-300 p-8 flex flex-col">
            <img class="w-16 h-16 rounded-full" src="<%= users.picture.medium%>" alt="">
            <h3 class="text-xl"><%= users.name.first%> <%= users.name.last%></h3>
            <h4>Email : <%= users.email%></h4>
            <h4>Phone : <%= users.phone%></h4>
            <h4>Age : <%= users.dob.age%></h4>
            <h4>Street : <%= users.location.street.number%> : <%= users.location.street.name%></h4>
            <h4>City : <%= users.location.city%></h4>
            <h4>Postcode : <%= users.location.postcode%></h4>
        </div>
    </div>
    <div class="container p-6 mx-auto grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
            <% posts.forEach(post=>{ %>
                <div class="profile justify-center transition duration-300 hover:shadow-xl cursor-pointer text-center rounded-3xl items-center h-64 bg-blue-300 p-8 flex flex-col">
                    <h1>POST</h1>
                    <h2> title : <%= post.title%></h2>
                    <h4> text : <%= post.body%></h4>
                    <%= post.userId %>
                    <a class="text-green-200 transform hover:scale-110 motion-reduce:transform-none " href="/<%= users.login.uuid %>/post/<%= post.id%>">comments</a>
                </div>
            <%})%>
    </div>
    <div class="container p-6 mx-auto grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        <%albums.forEach(album=>{%>
            <div class="profile justify-center transition duration-300 hover:shadow-xl text-center rounded-3xl items-center h-64 bg-red-300 p-8 flex flex-col">
                <h1>Albums</h1>
                <h2><%= album.title%></h2>
                <a class="text-red-200 transform hover:scale-110 motion-reduce:transform-none " href="/<%= users.login.uuid %>/album/<%= albums.id%>">SHOW</a>
            </div>
        <%})%>
    </div>
</body>
</html>